.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
/.quarto/
Non-Destructive Marine Monitoring in Fiordland with Baited Remote Underwater Video (BRUV).pdf

**/*.quarto_ipynb
